body {
  background-color:#DFE9EF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  padding: 5px;
}
img {
  width: 320px;
  margin-bottom: 30px;
}
/********************* TEXT *********************/
li {
  text-transform: uppercase;
  font-size: 25px;
  color: black;
  text-align: middle;
  margin: 1px;
}

h4 {
  margin-bottom: 10px;
}

h5 {
  margin: 1px;
}

.dropdown-labels {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.other-labels {
  margin-left: 20px;
  color: #FFBD59;
  font-weight: bold;
}
/********************* SECTIONS *********************/
#container {
  width: 100%; 
  overflow: hidden;
}
#left-container {
  height: 937px;
  width: 320px;
  background-color:#3BA27A;  
  float: left;
  margin: 0;
}
#right-container {
  margin-left: 340px;
}
#visualisation {
  margin-top: 30px;
  width: 100%; 
  overflow: hidden;
  height: 430px;
}
#histogram {
  width: 700px; 
  height: 430px;
  margin-left: 35px;
  float: left; 
}
#barplot {
  width: 700px; 
  height: 430px;
  margin-left: 800px;
  margin-right: 20px;
}
#data-extract {
  margin-top: 30px;
  width: 100%; 
  overflow: hidden;
  height: 400px;
}
#table {
  height: 420px;
  width: 800px; 
  float: left;
  margin-left: 35px;
  margin-top: 15px;
}
#table-side {
  width: 400px;
  margin-left: 900px;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
/********************* BUTTONS *********************/
#update-button {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 15px;
}
#update-button:hover {
  background-color: #FFBD59;
  color: white;
}
/********************* DROPDOWNS *********************/
.dropdown {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.dropdown .Select-control{
  background-color: white;
}
.dropdown .Select-menu-outer{
  background-color: white;
}
.dropdown .Select-value{
  background-color: #3BA27A;
  color: white;
  font-size: 14px;  
}
.dropdown .VirtualizedSelectFocusedOption {
  background-color: #a5ecd1;
  color: black;
}
.dropdown .VirtualizedSelectOption  {
  font-size: 14px;
}
/********************* TOGGLES *********************/
.toggle {
  margin-top: 8px;
}
/********************* SLIDER *********************/
#n-slider {
  margin-top: 8px;
}
#n-slider .rc-slider-handle  {
  background-color: #FFBD59;
  border: 0px;
}
#n-slider .rc-slider-track {
  background-color: #E6E6E6;
}
#n-slider .rc-slider-dot-active {  
  border-color: #E6E6E6;
}

/********************* GENERIC *********************/
.reaponsive-table {
  border: solid;
}
.reaponsive-table td {
  border: solid;
  border-width: 0.2px;
}

.project-header {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.page-tab{
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

/********************* href link to display as tabs *********************/

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active, a:focus {
  background-color: rgb(73, 79, 84);
  color: white
}

a:focus {
  background-color: rgb(109, 125, 158);
  color: white
}

circle {fill: lightblue; stroke: black;}
.tooltip {position: absolute; padding: 8px; background-color: #f9f9f9; border: 1px solid #ccc;}
a {cursor: pointer;}


 li.active,
    li.active+li:before {
        background: lightblue;
        font-weight: bold;
    }


ul {
    list-style: none;
}

  :root {
    --line-chart-color: #607D8B;
    --annotation-context-color: #546E7A;
    --annotation-badge-color:white;
    --annotation-color: #E8336D;
  }

.annotation path {
    stroke: var(--annotation-badge-color);
  }

.foreign-object.legend {
    text-anchor: start;
    fill: var(--annotation-color);
    font: 12px 'Arial';
  }

  .annotation:not(.above):not(.anomaly) path {
    stroke-dasharray: 1,3;
  }

  .annotation text {
    fill: var(--annotation-badge-color);
  }

  .annotation-note-bg {
    fill: rgba(0, 0, 0, 0);
  }

  .annotation-note-title, text.title {
    font-weight: bold;
  }

  svg .annotation.rect text {
    fill: var(--annotation-context-color);
    font-size: .6em;
    text-transform: uppercase;
  }

  svg .annotation.callout.rect path.subject{
    fill-opacity: .1;
  }

  svg .annotation.callout.rect path.subject {
    fill: var(--annotation-context-color);
    stroke: none;
    stroke-dasharray: 2, 8;
  }

  svg .annotation.badge .annotation-subject path{
      fill: var(--annotation-color);
      stroke-width: 0px;
      stroke-dasharray: none;
  }

  svg .annotation.badge path.subject-pointer {
      stroke-width: 0px;
  }

  svg .annotation.badge text {
    font-size: .7em;
  }

  svg text.legend{
    text-anchor: start;
    fill: var(--annotation-color)
  }

